{% extends 'base_email.html' %}

{% block body %}
<p>
    Bonjour {{first_name}} et bienvenue sur Calc-Road!
</p>

<p>
    Vous venez de créer un compte utilisateur. Vous pouvez dès maintenant vous connecter
    à l'application pour créer des cartes et effectuer des simulations de traffic routier.
</p>
<p>
    Bonne création,
</p>


{% endblock body %}